:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1050px) {
  .grid-footer-middle {
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    grid-gap: 80px;
  }

  .grid-footer-bottom {
    grid-template-columns: 1fr;
  }

  .footer-bottom-right {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1035px) {
  .nav-link {
    padding: 15px 18px;
    font-size: 15px;
  }

  .dropdown-toggle {
    padding: 15px 18px;
    font-size: 15px;
  }

  .primary-button.navbar-button {
    padding: 18px 18px;
    font-size: 15px;
  }
}

/* Video Overlay Pointer Events */
.overlay-video {
  pointer-events: none;
}

/* Styles for old forms */
:not(.form-styles) .hbspt-form form .hs-dependent-field .hs-form-field {
  margin-bottom: 16px;
}

.hbspt-form form .hs-form-field select {
  width: 100% !important;
}

/* Mobile spacing fix */
@media (max-width: 768px) {
  .button-primary + .button-primary {
    margin-top: 16px;
  }
}
